:root {
  --destaque: #159a9c;
  --background: #002333;
  --text: #deefe7;
}

html {
  background-color: var(--background);
  color: var(--text);

  font-size: 20px;
  font-family: Verdana, sans-serif;
}

h1,
h2,
h3 {
  color: var(--destaque);
  text-align: center;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  color: var(--destaque);
}

p {
  text-indent: 1em;
}

.summary {
  text-align: right;
}

.main p {
  line-height: 1.5;
}

abbr {
  font-variant: small-caps;
}

.page-wrapper {
  width: 80%;
  max-width: 1280px;

  margin: 0 auto;
}

#zen-intro {
  height: 550px;
}

#design-archives {
  display: none;
}

header {
  background-color: var(--destaque);
}

header > h1,
header > h2 {
  display: inline-block;
  color: var(--text);
}

header > h1 {
  margin: 0 1em;
}

aside ul {
  list-style: none;
}

aside ul li {
  margin: 1em;
  text-align: center;
}

.main footer {
  margin: 4%;
}

.main footer a {
  border: solid 2px var(--destaque);
  padding: 0.5em;
  display: inline-block;
}

.page-wrapper {
  position: relative;
}

.explanation {
  width: 60%;

  margin-right: 35%;

  border-right: solid 1px var(--destaque); /*Estou utilizando as minhas cores para manter o padrão do projeto*/
  padding-right: 2%;
}

#design-selection {
  position: absolute;
  width: 40%;
  top: 520px;
  right: 0;
  padding: 0 2%;
}

/* está repetindo os blocos acima, não irei alterar para não prejudicas as correções anteriores*/
.main footer {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.main footer a {
  font-size: 1.2rem;
}

#zen-benefits {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  border-top: solid 1px var(--destaque);
  border-bottom: solid 1px var(--destaque);
}

#zen-benefits p {
  width: 70%;
}

#zen-benefits h3 {
  width: 30%;
}

#zen-participation {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px var(--destaque);
}

#zen-participation p,
#zen-participation h3 {
  flex-basis: 50%;
}

#zen-participation h3 {
  align-self: center;
}

a {
  font-weight: bold;
}

a:hover {
  filter: brightness(2);
}

a:visited {
  font-weight: lighter;
}

.main p:first-of-type::first-letter {
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  float: left;
}

#design-selection li {
  border-top: solid 1px var(--destaque);
}

#design-selection li:nth-last-of-type() {
  border-bottom: solid 1px var(--destaque);
}

@media (max-width: 768px) {
  #design-selection {
    position: static;
    width: 100%;
  }

  .explanation {
    border-right: none;
    width: 100%;
  }

  #zen-intro {
    height: auto;
  }

  #zen-participation {
    flex-direction: column;
  }

  p {
    text-indent: 0;
  }
}

@media print {
  html {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--text);
    color: var(--background);
  }

  header {
    background-color: var(--text);
  }
  header > h1,
  header > h2 {
    color: var(--background);
  }
}
