:root {
  --destaque: #159a9c;
  --background: #002333;
  --text: #deefe7;
}

html {
  background-color: var(--background);
  color: var(--text);

  font-size: 20px;
  font-family: Verdana, sans-serif;
}

h1,
h2,
h3 {
  color: var(--destaque);
  text-align: center;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  color: var(--destaque);
}

p {
  text-indent: 1em;
}

.summary {
  text-align: right;
}

.main p {
  line-height: 1.5;
}

abbr {
  font-variant: small-caps;
}

.page-wrapper {
  width: 80%;
  max-width: 1280px;

  margin: 0 auto;
}

#zen-intro {
  height: 550px;
}

#design-archives {
  display: none;
}

header {
  background-color: var(--destaque);
}

header > h1,
header > h2 {
  display: inline-block;
  color: var(--text);
}

header > h1 {
  margin: 0 1em;
}

aside ul {
  list-style: none;
}

aside ul li {
  margin: 1em;
  text-align: center;
}

.main footer {
  margin: 4%;
}

.main footer a {
  border: solid 2px var(--destaque);
  padding: 0.5em;
  display: inline-block;
}
