:root {
  --destaque: #159a9c;
  --background: #002333;
  --text: #deefe7;
}

html {
  background-color: var(--background);
  color: var(--text);
}

h1 {
  color: var(--destaque);
}

a {
  color: var(--destaque);
}
